  .icon-alpine{
    background-image:url('images/Pine-Trees.png');
    box-shadow: 0 0 2px #999999;
    border-radius: 3px 3px 3px 3px;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  }
  .APTFTbyTAP-tumblr {
    width:100%;
    overflow:hidden;
  }
  .APTFTbyTAP-tumblr.generator, .APTFTbyTAP-tumblr.plugin-settings{
    max-width:700px;
    margin:20px 0;
  }
  .APTFTbyTAP-tumblr .help-link{
    width:100%;
    clear:both;
    padding:5px 0;
    margin: 20px 0 0 0;
  }
  .APTFTbyTAP-tumblr.plugin-settings .title{
    width:25%;
    max-width: 180px;
    min-width: 100px;
    display:inline-block;
    margin: 0 10px 0 0;
    font-size:1.1em;
  }
  .APTFTbyTAP-tumblr.plugin-settings h4{
    font-size:1.17em;
  }
  .APTFTbyTAP-tumblr.plugin-settings  input[type="text"]{
    width:100px;
  }
  .APTFTbyTAP-tumblr .form-table{
    margin:0;
  }
  .APTFTbyTAP-tumblr .form-table th{
    width:40%;
    padding:10px 0;
  }
  .APTFTbyTAP-tumblr .form-table td{
    padding:5px 0;
  }
  .APTFTbyTAP-tumblr option{
    margin:5px;
  }
  .APTFTbyTAP-tumblr label{
    margin-right:5px;
  } 
  .APTFTbyTAP-tumblr  textarea{
    width:100%;
  }
  .APTFTbyTAP-tumblr input[type="text"]{
    width:50%;
  }
  .APTFTbyTAP-tumblr .description{
    width:100%;
    text-align:center;
  }  

  .APTFTbyTAP-tumblr h4 {
    margin: 0.5em 0;
  }
  .APTFTbyTAP-tumblr .top{
    clear:both;
    float:left;
    width:100%;
    padding:0 0 15px 0;
    margin-bottom:10px;
    border-bottom:1px solid #DDD;
    position:relative;
  }  
  .APTFTbyTAP-tumblr .right, .APTFTbyTAP-tumblr .left{
    width:48%;
    position:relative;
  }
  .APTFTbyTAP-tumblr .right{
    float:right;
    clear:right;
  }
  .APTFTbyTAP-tumblr .left{
    float:left;
    clear:left;
  }  
  .APTFTbyTAP-tumblr .left input[type="text"]{
    width:95%;
  }
  .APTFTbyTAP-tumblr .right input[type="text"] {
    width:30%;
  }  
  .APTFTbyTAP-tumblr .bottom input[type="text"]{
    width:20%;
  }
  .APTFTbyTAP-tumblr .bottom{
    float:left;
    clear:both;
    display:block;
    width:100%;
    height:auto;
    padding:15px 0 10px 0;
    margin-top:10px;
    border-top:1px solid #DDD;
    position:relative;
  }    
  .APTFTbyTAP-tumblr .bottom .description{
    width:100%;
    text-align:left;
  }  

