/* The style of the Display Link below the images */
/* Global styles for the container and parent class */
.APTFTbyTAP_container_class{
  position:relative;
  width:100%;
  display:block;
  overflow:hidden;
}
.APTFTbyTAP_container_class img{
  margin:0;
  margin-bottom: 4px;
}
.APTFTbyTAP_container_class.loading{
  min-height:200px;
  width:100%;
  background-image:url("images/loader.gif");
  background-position:center;
  background-repeat:no-repeat;
  background-size:40px 40px;
  background-color:#fff;
}
.APTFTbyTAP_inpost_container {
  padding-bottom:10px;
  display:block;
  clear:both;
  width:100%;
  overflow:hidden;
}

img.APTFTbyTAP-img-corners{
  border-radius: 3px 3px 3px 3px ! important;
}
img.APTFTbyTAP-img-nocorners{
  border-radius: 0 0 0 0 ! important;
}

.APTFTbyTAP_cascade_column{
  margin:0;
  padding:0;
  max-width:100%;
  float:left;
}

.APTFTbyTAP_breakline{
  width:100%;
  float:left;
  position:relative;
  clear:both;
  height:1px;
}


.APTFTbyTAP_parent_class{
  position:relative;
  max-width:100%;
  clear:both;
  display:block;
  height:auto;
  overflow: hidden;
}


.APTFTbyTAP-row{
  position:relative;
  padding: 0 0 4px 0;
  clear:both;
  display:block;
  height:auto;
}
.APTFTbyTAP-tile{
  display:block;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  margin:0 0 0 4px;
  float:left;
}
.APTFTbyTAP-half-tile{
  
}
.APTFTbyTAP-half-tile-first{

}
.APTFTbyTAP-half-tile-last{

}

.APTFTbyTAP-bookshelf{
  padding: 5px 0;
}
.APTFTbyTAP-book{
  position:absolute;
  bottom:5px;
  margin:0 0 0 4px;
}

.APTFTbyTAP-riftline{
  padding: 0 0 5px 0;
}
.APTFTbyTAP-rift{
  position:absolute;
  bottom:5px;
  margin:0 0 0 4px;
}
.APTFTbyTAP-rift.APTFTbyTAP-float-0{
  top:0px;
}
.APTFTbyTAP-rift.APTFTbyTAP-float-1{
  bottom:5px;
}


.APTFTbyTAP-image-div-container{
  overflow:hidden;
}
.APTFTbyTAP-gallery-container{
  margin:0 0 0 4px;
}

.APTFTbyTAP-image-div{
  display:block;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  width:100%;
  height:100%;
}
.APTFTbyTAP-link{
  width:100%;
  height:100%;
  display:block;
}
.APTFTbyTAP-border-div{
  background: none repeat scroll 0 0 #FFFFFF;
  padding:5px;
}
.APTFTbyTAP-highlight-div{
  background: none repeat scroll 0 0 #FFFFFF;
  padding:2px;
}


.APTFTbyTAP-shadow-div{
  box-shadow: 1px 1px 3px rgba(34, 25, 25, 0.4);
}
.APTFTbyTAP-curve-div{
  border-radius: 3px 3px 3px 3px;
}


.APTFTbyTAP-display-link{
  width:100%;
  text-align:center;
  /*font-size:10px; */
  margin:3px 0 3px 0;
  position:relative;
}
.APTFTbyTAP-image-link{
  margin:0px;
  border:0px;
  padding:3px 0 3px 0;
}
.APTFTbyTAP-display-link-container{
  position:relative;
  clear:both;
  display:block;
  width:100%;
}



/* Styles specific to the images of each display style */
.APTFTbyTAP-vertical-img{
  position:relative;
  width:100%;
  margin:4px 0 0 0;
  padding:0;
  border:0;
  outline:0;  
}
.APTFTbyTAP-vertical-link{
  line-height:0;
  display:block;
}
.APTFTbyTAP-tile-img{
  width:100%;
  margin:0;
  padding:0;
  border:0;
  outline:0;
}


/* Style for the little corner link to ETH & KU */
.APTFTbyTAP-by-link{
  position:absolute;
  bottom:0px;
  left:5px;
  display:block;
  height:auto;
  color:#C0C0C0;
  padding:5px;
  text-align:left;
  font-size:12px;
  z-index:100;
}
.APTFTbyTAP-by-link a{
  font-size:8px;
  line-height:8px;
  opacity:0.9;
  filter:alpha(opacity=90);
  COLOR:#C0C0C0;
  text-decoration:none;
}
